.card {
    opacity: .9;
    width: 18rem;
}

.card:hover {
    opacity: 1;
    background-color: rgb(235, 242, 255);
}

.img-container, .title-container {
    width:100%;
    display: block;
    position: relative;
    overflow:hidden;
}

.card-img-top {
    object-fit: cover;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.title-container {
    height: 4rem;
}

.card:hover .card-img-top {
    font-size: 40px;
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}


.price, .card-title {
    line-height: 2rem;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
}

.card:hover .price, .card:hover .card-title {
    font-size: 1.5rem;
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}