<div class="card shadow my-4 col-xl-2 col-md-5 mx-3 p-0">
    <div class="img-container">
        <img [src]="product.image" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <div class="title-container">
            <h5 class="card-title text-center font-weight-bold">{{product.name}}</h5>
        </div>
        <p class="card-text">{{product.description}}</p>
    </div>
    <h5 class="mt-auto text-center py-3 mb-0 text-primary font-italic">Szabad hely:
        <strong>{{product.stock}}</strong></h5>
    <div class="title-container">
        <h5 class="price mt-auto text-center py-3 mb-0 text-white bg-primary font-weight-bold font-italic">
            {{product.price | currency}}</h5>
            
    </div>
</div>
