app-product-card,
.container,
.row {
  max-width: 100%;
}

.filter-search {
  padding: 0 .25em;
  border: none;
  border-radius: 2px;
}

// .btn-success {
//   background-color: rgb(85, 185, 0);
// }
