<div class="btn btn-primary btn-lg font-weight-bold text-uppercase w-100 p-3" role="button">{{title[0]}}:</div>

<div class="container m-0 p-0 w-100">
  <div class="row w-100">
    <div class="col-12 d-flex flex-row flex-wrap justify-content-center">

      <app-product-card class="col-xl-2 col-md-5 mx-3 p-0" [product]="product"
        *ngFor="let product of productList$ | async | randomize | category:2 |featured | slice:0:5">
      </app-product-card>

    </div>
  </div>
</div>

<!-- <div class="btn btn-success btn-lg font-weight-bold text-uppercase w-100 p-3 mt-5" role="button">{{title[1]}}:</div>

<div class="container m-0 p-0 w-100">
  <div class="row w-100">
    <div class="col-12 d-flex flex-row flex-wrap justify-content-center">

      <app-product-card class="col-xl-2 col-md-4 mx-3 p-0" [product]="card"
        *ngFor="let card of activeRest"></app-product-card>

    </div>
  </div>
</div> -->

<div class="btn btn-success btn-lg font-weight-bold text-uppercase w-100 p-3 mt-5" role="button">{{title[1]}}:<input
    (keyup)="onChangePhrase($event)" class="mx-3 filter-search" type="text" placeholder="Keresés">
</div>

<div class="container m-0 p-0 w-100">
  <div class="row w-100">
    <div class="col-12 d-flex flex-row flex-wrap justify-content-center">
      <app-product-card class="col-xl-2 col-md-5 mx-3 p-0" [product]="product"
        *ngFor="let product of productList$ | async | category:2 | filter1:phrase:'name'">
      </app-product-card>

      <!-- <app-product-card class="col-xl-2 col-md-4 mx-3 p-0" [productService]="products" [product]="card"
        *ngFor="let card of activeRest | filter:phrase:'name'">
      </app-product-card> -->

    </div>
  </div>
</div>
